.custom-tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  background: white;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
  border-top: 1px solid #eee;
  z-index: 999;

  .tab-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .tab-icon {
      width: 64px;
      height: 64px;
      margin-bottom: 4px;
    }

    .tab-text {
      font-size: 22px;
      color: #999;
    }

    &.active {
      .tab-text {
        color: #fa2c19;
      }
    }
  }
}
