.custom-tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110rpx;
  background: white;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
  border-top: 2rpx solid #eee;
  z-index: 999;

  .tab-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12rpx 0;
    
    .tab-icon {
      width: 44rpx;
      height: 44rpx;
      margin-bottom: 4rpx;
    }

    .tab-text {
      font-size: 20rpx;
      color: #999;
    }

    &.active {
      .tab-text {
        color: #4a8ca8;
        font-weight: 500;
      }
    }
  }
}
