.home-page {
  background-color: #f7f8fa;
  min-height: 100vh;
  position: relative;
}

.scroll-content {
  padding-bottom: constant(safe-area-inset-bottom);
  /* iOS 11.0 */
  padding-bottom: env(safe-area-inset-bottom);
  /* iOS 11.2 */
}

.section-container {
  padding: 0 32rpx;
  margin-top: 48rpx;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 24rpx;

  &.jb {
    justify-content: space-between;
  }

  .icon {
    font-size: 40rpx;
    margin-right: 16rpx;
  }

  .title {
    font-size: 34rpx;
    font-weight: 600;
    color: #333;
  }

  .refresh-box {
    display: flex;
    align-items: center;
    padding: 8rpx 16rpx;
    background: #ecf3f7;
    border-radius: 24rpx;

    .refresh-icon {
      font-size: 28rpx;
      color: #385e72;
      margin-right: 8rpx;
    }

    .refresh-text {
      font-size: 24rpx;
      color: #385e72;
      font-weight: 500;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16rpx;

  .hot-tag {
    padding: 12rpx 24rpx;
    background: #fff;
    border: 2rpx solid #b7cfdc;
    color: #385e72;
    border-radius: 32rpx;
    font-size: 24rpx;
    transition: all 0.2s ease;

    &:active {
      background: #d9e4ec;
    }

    &.active {
      background: #385e72;
      color: #fff;
      border-color: #385e72;
    }
  }
}

.hotel-list {
  display: flex;
  flex-direction: column;
}

.taroify-calendar__day__bottom {
    display: none !important;
}